<!DOCTYPE html>
<html>
<head>
	<title>Contact Page</title>
</head>
<body style="background-color:rgb(233, 236, 191);">
    <br>
    <div><center><h1>Contact Us</h1></center></div>
    <hr style='width:50%; text-align:center; margin:center;'>

    <div>
        <center>
        <div class="text">
        <h4>
			<p><span>Address:</span> 17 Swamiji Park, Michael Nagar, Kolkata-700133</p>
            <p><span>Phone:</span> <a href="tel://1234567920">+91-9123885863</a></p>
            <p><span>Email:</span> <a href="mailto:shbho.bhattacharya.07@gmail.com">shubho.bhattacharya.07@gmail.com</a></p>
        </h4>
        </center>
    </div>
</body>
</html>


